doctype html
html(lang="en")
  head
    link(type='text/css', rel='stylesheet', href=assets.css)

  body
    h1 Exact Change Only
    h2 the blog of Adam Wong
    h3 blogs
    ul
      each blog in blogs
        li= route_to(blog)
    h2= title
    div!= body

  script(type='text/css')
