doctype html
html(lang="en")
  head
  body
    h1 Exact Change Only
    h2 the blog of Adam Wong
    ul
      li
        a(href=global.index.inputs[0].final_filename)
          | index
      li
        a(href=global.about_me.inputs[0].final_filename)
          | about me

      each val in global.blogs.inputs
        li
          a(href=val.final_filename)
            = val.meta.title
    div!= local.html

