@import "compass/css3/font-face";

@include font-face("Mono Social Icons Font", 
  font-files(
    "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.woff", 
    "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.ttf", 
    "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont"
  ), "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.eot", normal, normal);

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
  // align-self: center;
}


  .sidebar hgroup{
    position: auto;
     width: 100%;
     height: auto;
     background: darkgray;
 }
 
footer{
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
.sidebar hgroup{
     position: fixed;
     width: 200px;
     height: 400px;
     background: darkgray;
 }

  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
    max-width: 40em;
    
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }

}

body { 
  font-size: 100%;
  line-height: 1.5em;
}

body{
  font-family: 'Raleway', sans-serif;
  padding: 1em;
}

pre.lineno{
  margin: 0px;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-weight: normal;
}

h1, 
h2, 
h3, 
h4,
h5,
h6{margin: 0.2em;}

ul{list-style-type: none;}

footer ul li{
  text-align:right;
}

#main{
  margin: 1em;
}

.signature{ 
  height: auto;
  width:10em;
  object svg {
    margin:0 auto;
    height: 100%;
    width: 100%;
    
    * {
      stroke: black; 
    }
  }
}

#about-me{

}

/*header{
  background-color: lightblue;
}
aside{
  background-color: yellow;
}
footer{
  background-color: lightgreen;
}*/

/*@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif; }

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}*/