@charset "utf-8";

// install the Mono social icons
@import "compass/css3/font-face";
@include font-face("Mono Social Icons Font", 
  font-files(
    "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.woff", 
    "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.ttf", 
    "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont"
  ), "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.eot", normal, normal);


// Basic flexbox structure
///////////////////////////////
.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
  padding: 1em;
}

.sidebar hgroup{
  position: auto;
  text-align: center;
  width: 100%;
  height: auto;

  img{
    display:block;
    margin:auto;

    // width: 300px;
    // height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;


  }
}
 

footer{
  display: flex;
  justify-content: flex-end;
}

aside.HolyGrail-ads{
  align-self: flex-end;

  div ul, div .signature  {padding: 1em;}
}

@media (min-width: 768px) {
  #main{
  margin: 3em;
  }
.sidebar hgroup{
     position: fixed;
     width: 200px;
 }

  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
    
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }

}
///////////////////////////////

nav.HolyGrail-nav.sidebar{

}

p, li{max-width: 45em;}

body{
  font-size: 100%;
  line-height: 1.5em;
  font-family: 'Raleway', sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}

h1, 
h2, 
h3, 
h4,
h5,
h6{margin: 0.2em;}

pre.lineno{margin: 0px;}
pre { 
  max-width: 50em;
  white-space: pre; overflow: scroll; width:inherit;
  word-wrap: normal;
}
.code pre{
  white-space: pre;
}

a{text-decoration:none;}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

ul{list-style-type: none;}

.signature{ 
  height: auto;
  width:10em;
  object svg {
    margin:0 auto;
    height: 100%;
    width: 100%;
    
    * {
      stroke: black; 
    }
  }
}

.HolyGrail-nav, .HolyGrail-ads {
  background: darkgray;
}