@charset "utf-8";

@import "compass/css3/font-face";
@include font-face("Mono Social Icons Font", 
  font-files(
    "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.woff", 
    "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.ttf", 
    "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont"
  ), "/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.eot", normal, normal);

@import "http://fonts.googleapis.com/css?family=Raleway:400,200,700";
@import "normalize";
@import "github";

p, li, { max-width: 50em; }

pre.lineno{ margin: 0px;}


img {max-width: 100%; height: auto;}

.titled-code-block{
  padding: 1em;
  background-color: lightgray;
}

body{
  font-family: 'Raleway', sans-serif;
}

pre { 
  white-space: pre; overflow: scroll; width:inherit;
  word-wrap: normal;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

.signature{ 
  height: auto;
  width:10em;
  object svg {
    margin:0 auto;
    height: 100%;
    width: 100%;
    
    * {
      stroke: black; 
    }
  }
}
