---
date: 2014-01-07
title:  'Syntax Highlighting in Middleman 1'
tags: experiments

---

h4 Html
- code('html') do
  |
    <div class="field">
      <label for="basic-input">Basic Input Label</label>
      <input type="text" id="basic-input" name="basic-input" size="40" placeholder="Placeholder Text" />
    </div>

h4 Ruby
- code('ruby') do
  |
    def foo(bar)
      puts "baz"
    end

h4 Whatever
- code
  |
    This is some code