---
title: 'about'
template: article.jade
---

#about-me
  p I'm just another Rails dev, wandering the clouds with my trusty macbook. I specialize in Rails and all that entails- Ruby, HTML, CSS, JS, Git, *-SQL, *-nix yadda yadda yadda. I live in beautiful Portland, Oregon.
  p
    a(href="/about_me/resumes/resume.html") my resume 

  .git-badge
    <iframe src="http://githubbadge.appspot.com/adamwong246" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>

  .stack-overflow-flair
    <a href="http://stackexchange.com/users/304854">
    <img src="http://stackexchange.com/users/flair/304854.png" width="208" height="58" alt="profile for adamwong246 on Stack Exchange, a network of free, community-driven Q&A sites" title="profile for adamwong246 on Stack Exchange, a network of free, community-driven Q&A sites">
    </a>