<% wrap_layout :body do %>
  <article>
    <h3>
      <%= link_to current_article.title, current_article %> <span><%= current_article.date.strftime('%b %e') %></span>
    </h3>
    
    <%= yield %>

    <%= partial("partials/social_share") %>
  </article>
<% end %>