<% wrap_layout :layout do %>
  <article>
    <h2><%= link_to current_article.title, current_article %> <span><%= current_article.date.strftime('%b %e') %></span></h2>
    <%= yield %>
  </article>
<% end %>