ruby:
  matches = link.scan(/#L(\d+){0,2}/).flatten

  doc = Nokogiri::HTML(open(link.gsub(/#L(\d+){0,2}/, '')))

  if matches.length == 0
    output = doc.css(".code-body.highlight pre .line").map(&:content).join("\n")
  elsif matches.length == 1
    output = doc.css(".code-body.highlight pre #LC#{matches[0]}").map(&:content).join("\n")
  elsif matches.length == 2
    output = (matches[0]..matches[1]).map{ |m|
      doc.css(".code-body.highlight pre #LC#{m}").map(&:content)
    }.join("\n")
  end

.titled-code-block  
  h6
    a href=link = link.split('/').last
  - code('ruby') do
    = output

