ruby:
  matches = link.scan(/#L(\d+){0,2}/).flatten

  doc = Nokogiri::HTML(
    open(
      link.gsub(/#L(\d+){0,2}/, '')
    )
  )

  if matches.length == 0
    output = doc.css(".highlight td.blob-line-code").map(&:content).join("\n")
  elsif matches.length == 1
    output = doc.css(".highlight td.blob-line-code#LC#{matches[0]}").map(&:content).join("\n")
  elsif matches.length == 2
    output = (matches[0]..matches[1]).map{ |m|
      doc.css(".highlight td.blob-line-code#LC#{m.to_i}").map(&:content)
    }.join("\n")
  end

  @display_name = link.split('/').last
  @render_as = link.split('.').last


.titled-code-block  
  h6
    a href=link = @display_name
  - code(@render_as) do
    = output

