extends layout.jade

block pageTitle
  title
    = entry.meta.title

block content
  include blogEntryPartial
  hr
  
  .forward-link
    if(entry.meta.previous)
      p
        a(href=entry.meta.previous.url)
          | ⬅️ 
          = entry.meta.previous.title
    if(entry.meta.next)
      p
        a(href=entry.meta.next.url)
          = entry.meta.next.title
          |  ➡️
      
