extends ../views/layout.jade

block content
  h1 About me
  hr
  ul
    li Last of the freelance hackers
    li Greatest sword fighter in the world
    li Stringer, Central Intelligence Corporation
    li Specializing in software-related intel (music, movies & microcode)
  
  p Adam Wong a full-stack developer living in beautiful Portland Oregon. His hobbies include linux, motorcyling and Star Trek. 

  ul
    - for contact in contacts
      li
        a.contact-icon(href=contact.content)
          != contact.icon
          = contact.type
