extends ../views/layout.jade

block content
  h1 Adam Wong
  ul
    li Last of the freelance hackers
    li Greatest sword fighter in the world
    li Stringer, Central Intelligence Corporation
    li Specializing in software-related intel (music, movies & microcode)
  
  p My name is Adam Wong. I'm a full-stack developer living in beautiful Portland Oregon. I have a wonderful boyfriend, Vince, and 2 dogs. I also drink too much coffee and I'm obsessed with Soylent.

  h2 Contact me
  
  p
    a(href="mailto:" + package.author.email)= package.author.email
  p 971-207-1376
  
  h2 Resume
  
  p
    My resume is available in a 3 formats: 
    a(href="/resume.html") html
    |, 
    a(href="/resume.pdf") pdf
    |, and 
    a(href="/resume.md") md


  h2 Social media
  ul
    - for contact in contacts
      li
        a.contact-icon(href=contact.content)
          != contact.icon
          = contact.type
