extends ../views/layout.jade

block content
  h1 about me

  p My name is Adam Wong. I'm living in beautiful Portland Oregon. I have a wonderful boyfriend, Vince, and 2 dogs. I also drink too much coffee and I'm obsessed with Soylent.

  h2 Resume
  
  p
    My resume is available in a 3 formats: 
    a(href="/resume.html") html
    |, 
    a(href="/resume.pdf") pdf
    |, and 
    a(href="/resume.md") md
