extends ../views/layout.jade

block content
  h1 Adam Wong
  ul
    li Last of the freelance hackers
    li Greatest sword fighter in the world
    li Stringer, Central Intelligence Corporation
    li Specializing in software-related intel (music, movies & microcode)
  
  p My name is Adam Wong. I'm a full-stack developer living in beautiful Portland Oregon. I have a wonderful boyfriend, Vince, and 2 dogs. I also drink too much coffee and I'm obsessed with Soylent.

  ul
    - for contact in contacts
      li
        a.contact-icon(href=contact.content)
          != contact.icon
          = contact.type
