h1 about me

p
  |My name is Adam Wong. I'm living in beautiful Portland Oregon and working for 
  a(href="https://chroma.fund") chroma 
  |where I double as a full stack computer wizard, amateur designer and wannabe economics hacker. I have a wonderful boyfriend, Vince, and 2 dogs. I also drink too much coffee and I'm obsessed with Soylent.

:markdown
  ---

  ## side projects
  ### exact change only
  [my homemade static blog generator](https://github.com/adamwong246/adamwong246.github.io)

  ### tymtu
  #### (pronounced 'time to')

  [tymtu](https://bitbucket.org/adamwong246/tymtu) is an experimental hierarchical calendar

  ### freak flag

  [freak flag](https://github.com/adamwong246/freakFlag) is chat app for freaks

  ### dotfiles

  https://github.com/adamwong246/dotfiles

  a collection of configuration files with an grunt based theme builder

  ### ifailedtheturingtest

  http://ifailedtheturingtest.herokuapp.com/

  My old personal blog. It's a lot more complex than this blog. No longer maintained.

hr

h2 Social accounts

ul
  li #[a(href="https://news.ycombinator.com/user?id=adamwong246") hacker news ]
  li #[a(href="http://github.com/adamwong246") github]
  li #[a(href="https://www.linkedin.com/in/adam-wong-4634421b") linkedin]
  li #[a(href="http://stackexchange.com/users/304854/adamwong246?tab=top") stack exchange]
  li #[a(href="https://www.reddit.com/user/adamwong246") reddit ]
  li #[a(href="https://www.facebook.com/adamwong246") facebook ]
  li #[a(href="https://twitter.com/adamwong246") twitter]
  li #[a(href="https://www.instagram.com/adamwong246/") instagram]
  li #[a(href="https://plus.google.com/104202656400776521456") google+]
  li #[a(href="https://soundcloud.com/adamwong246") soundcloud]
  li #[a(href="https://www.pinterest.com/adamwong246/") pinterest]
  li #[a(href="http://adamwong246.tumblr.com/") tumblr]
  li #[a(href="https://www.producthunt.com/@adamwong246") product hunt]
