extends ../views/layout.jade

block content
  h1 About me
  hr
  img(src="/images/optimized-aboutMe.jpg")
  blockquote(cite="https://en.wikiquote.org/wiki/Snow_Crash")
    p
      span Last of the freelance hackers.
      br
      span Greatest sword fighter in the world.
      br
      span Stringer, Central Intelligence Corporation.
      br
      span Specializing in software-related intel (music, movies & microcode)
      br
    span ~ Snow Crash

  
  p Adam Wong a full-stack developer living in beautiful Portland Oregon. His hobbies include linux, motorcyling and Star Trek. 

  ul
    - for contact in contacts
      li
        a.contact-icon(href=contact.content)
          != contact.icon
          = contact.type
