extends ../views/layout.jade

block content
  :marked
    # Side projects
    ---
    ### - [testeranto.ts](https://www.npmjs.com/package/testeranto)

    A very tiny typescript testing framework with a gherkin-like syntax and feature tracking. 

    ### - [adamwong246.github.io](https://github.com/adamwong246/adamwong246.github.io)

    You are looking at it now! Built with "funkophile", a "functional file processor" which my answer to something like next.js. 

    ### - [AdamsMod](https://adamwong246.github.io/adamsmod/)

    My personal collection of Factorio mods. 

    ### - [dotfiles](https://github.com/adamwong246/dotfiles)

    a collection of configuration files with an grunt based theme builder
