extends ../views/layout.jade

block content
  :marked
    ## Side projects

    ### exact change only
    [my homemade blog](https://github.com/adamwong246/adamwong246.github.io) You are looking at it now! Built with [webcrack](https://github.com/adamwong246/adamwong246.github.io/tree/dev/webcrack) This is a plain old fashioned static html website, made specifically to be hosted on github pages.

    ### webcrack

    [webcrack](https://github.com/adamwong246/adamwong246.github.io/tree/dev/webcrack) a build tool based on Redux and Reselect

    ### tymtu
    #### (pronounced 'time to')

    [tymtu](https://bitbucket.org/adamwong246/tymtu) is an experimental hierarchical calendar

    ### freak flag

    [freak flag](https://github.com/adamwong246/freakFlag) is chat app for freaks

    ### dotfiles

    https://github.com/adamwong246/dotfiles

    a collection of configuration files with an grunt based theme builder

    ### ifailedtheturingtest

    http://ifailedtheturingtest.herokuapp.com/

    My old personal blog. It's a lot more complex than this blog. No longer maintained.
