extends ../views/layout.jade

block content
  :marked
    # Side projects
    ---
    ### - [adamwong246.github.io](https://github.com/adamwong246/adamwong246.github.io)
    
    You are looking at it now! Built with [webcrack](https://github.com/adamwong246/adamwong246.github.io/tree/dev/webcrack.) This is a plain old fashioned static html website, made specifically to be hosted on github pages.

    ### - [Burger Lord](https://adamwong246.github.io/Burger_Lord/)

    A code challenge I did for a job.

    ### - [AdamsMod](https://adamwong246.github.io/adamsmod/)

    My personal collection of Factorio mods. 
    
    ### - [spacetrash](https://adamwong246.github.io/SpaceTrash/)
    
    An electron game combining elements of duskers, FTL and Cogmind and which includes an in-game Typescript environment!
    
    ### - [webcrack](https://github.com/adamwong246/adamwong246.github.io/tree/dev/webcrack)

     a build tool based on Redux and Reselect

    ### - [tymtu](https://bitbucket.org/adamwong246/tymtu)
    #### (pronounced 'time to')

    an experimental hierarchical calendar

    ### - [dotfiles](https://github.com/adamwong246/dotfiles)

    a collection of configuration files with an grunt based theme builder

    ### - http://ifailedtheturingtest.herokuapp.com/
    
    My old personal blog. It's a lot more complex than this blog. No longer maintained.
