extends ../views/layout.jade

block content
  :marked
    # Side projects
    ---
    ### - [testeranto](https://www.npmjs.com/package/testeranto)

    The AI powered, BDD testing framework for typescript projects.

    ### - [adamwong246.github.io](https://github.com/adamwong246/adamwong246.github.io)

    You are looking at it now! This is my personal blog. It's built with funkophile.

    ### - [funkophile](https://www.npmjs.com/package/funkophile)

    The "functional file processor". This is my answer to gatsby, jekyll, hugo, etc. 

    ### - [dotfiles](https://github.com/adamwong246/dotfiles)

    a collection of unix configuration files, managed with GNU Stow. 

    ### - [Songs of Sol](/songsOfSol)

    A collection of science fiction stories exploring artificial intelligence, space exploration, and post-human societies.
