nav #headshot {
  margin: auto;
}

#main-container {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  flex: 1 0 auto;
}

#site-title {
  display: flex;
}

#site-title img {
  width: 2em;
  max-width: initial;
  vertical-align: middle;
  margin-right: 1em;
}

#menu {
  margin-top: 0.5em;
}

@media (max-width: 700px) {
  nav #headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  nav {
    width: 100%;
    filter: drop-shadow(5px 5px 5px #222)
  }

  nav #site-title img {
    filter: drop-shadow(5px 5px 5px #222)
  }

  main {
    margin-top: 80px;
    margin-left: 1em;
    margin-right: 1em;
  }

  .closed-menu nav #menu {
    display: none;
  }

  body.closed-menu main {
    filter: none;
  }

  body:not(.closed-menu) main {
    filter: blur(10px);
  }

  .hide-menu nav {
    display: none;
  }
}

@media (min-width: 700px) {
  #main-container {
    flex-direction: row;
  }

  main {
    flex: 1;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    max-width: 50vw;
    margin-left: 390px;
  }

  nav {
    width: 20em;
    height: -webkit-fill-available;
  }

  body {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

nav {
  order: -1;
  position: fixed;
}

img {
  max-width: 100%;
}

code {
  white-space: break-spaces;
}

p {
  max-width: 35rem;
}

footer {
  text-align: -webkit-right;
}

.back-and-forward-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;

  
}

.back-link, .forward-link {
  margin: 1rem;
}

.back-link:after, .forward-link:after {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

