@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  html {
    font-weight: 300;
  }
}

nav {
  /* padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em; */
  padding: 1em;

  /* text-align: center; */

  /* margin-left: 2em;
  margin-right: 2em; */
  /* z-index:1; */
}

nav li {
  list-style-type: none;
}

footer {
  padding: 1em;
}

ul {
  padding-left: 1.5em;
}

nav ul {
  padding-left: 0px;
}

li {
  padding-top: 0.5em;
}

dl, dt, di {
  padding-inline-start: 1em;
}

h2{
  margin-bottom: 0.2em;
}

header {
  padding-top: 0.25em;
}

body > header > *{
 padding: 1em;
 margin: 0em;
 border-radius: 3px;
 /* background: rgba(147, 128, 108, 0.1); */
}

td, th {
  padding: 0.25rem;
}

.contact-icon svg {
  width: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#more-blog-entries {
  text-align:center;
  padding: 1em;
}

/* #site-title img{
  border-radius: 50%;
} */

/* nav {
  z-index: -1;
}

main {
  z-index: 0;
}

footer {
  z-index: 1;
} */
