@import url('typebase.css');

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("/fonts/MPLUSRounded1c-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.7;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "M PLUS Rounded 1c", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0.75em 0 0.75rem;
  font-weight: 700;
}
