h1 {
  font-size: 30px;
}

p, li {
  font-size: 11px;
}

* {
  line-height: 1em;
}

h2, h3, h4 {
  line-height: 1em;
}

p, ul {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 1rem;
  margin-right: 1rem;
}