
extends layout
//- this logic should be moved to a view at some point

block content
	- var lineHeight = 2.2;
	- var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
	-	 return item.date.getFullYear()
	- }).value()
	- for (var archive in archives) {
	-	archives[archive] = _.groupBy(archives[archive], function(item){return item.date.getMonth();})
	- }
	- var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
	section.archive
		h2 Archive
		ul
			- var yearsK = _.chain(archives).keys().reverse().value()
			- for(var year in yearsK)
				- months = archives[yearsK[year]]
				- var yearHeight = lineHeight * _.reduce(months, function(memo,month) { return memo + month.length; }, 0);
				li
					span.year-label(style='line-height:' + yearHeight+'em')=yearsK[year]
					ul(style='margin-left:4em')
						- var monthsK = _.chain(months).keys().reverse().value()
						- for(month in monthsK){
							- var monthHeight = lineHeight * months[monthsK[month]].length
							li
								span.month-label(style='line-height:'+monthHeight+'em')=month_names[monthsK[month]]
								ul(style='margin-left:7em')
									each item in months[monthsK[month]]
										li(style='height:'+ lineHeight + 'em;line-height:'+ lineHeight + 'em;')
											a(href=item.url)=item.title
						- }
	hr
	h2 posts from old websites
	ul
		li
			a(href='/blog/2014/02/08/how-i-manage-my-layouts.html') How I manage my layouts
			span Feb  8
		li
			a(href='/blog/2014/02/02/github-yoink.html') github yoink
			span Feb  2
		li
			a(href='/blog/2014/01/29/post-mortem-for-ifailedtheturingtest_herokuapp_com.html') Post-mortem for ifailedtheturingtest.herokuapp.com
			span Jan 29
		li
			a(href='/blog/2014/01/26/how-i-manage-my-resume.html') How I manage my resume
			span Jan 26
		li
			a(href='/blog/2014/01/21/status-update.html') status update
			span Jan 21
		li
			a(href='/blog/2014/01/10/switch-to-middleman.html') Switch to Middleman
			span Jan 10
		li
			a(href='/blog/2013/12/27/my-first-sinatra-app.html') Buildpacks and my first Sinatra app
			span Dec 27
		li
			a(href='/blog/2013/11/27/tiling-compared.html') Tilers galore
			span Nov 27
		li
			a(href='/blog/2013/11/22/asset-pipeline.html') Jekyll and the asset pipeline
			span Nov 22
		li
			a(href='/blog/2013/11/22/wiselinks.html') Wiselinks
			span Nov 22
		li
			a(href='/blog/2013/11/13/Castle-Shuri-aka-dotfiles.html') Castle Shuri aka dotfiles
			span Nov 13