---
date: 2014-02-08
title: style guild in body
tags: experiments
layout: body
---

p The body layout is stylistically consistent with the rest of the site but the content is yielded without any frontmatter.
= partial ('partials/lorem_ipsum')