---
date: 2014-02-08
title: style guide in post
tags: experiments
layout: post
---

p The only real difference from the body layout is that in the post layout, I print a bit of the front matter first. Notice, this page has a title and date. 
= partial ('partials/lorem_ipsum')