---
date: 2014-01-21
title: horse of a different color
tags: experiments
---


| This is an experiment in colors. By assigning elements colors and then rotating them in color space, you can maintain a pleasant, changing, color scheme