---
date: 2014-02-08
title: style guide in html and head
tags: experiments
layout: html_and_head
---

p This content is styled, but is yielded directly in the body of the html document.
= partial ('partials/lorem_ipsum')