---
date: 2014-01-21
title: horse of a different color
tags: experiments
published: false
---

javascript:
  $( window ).scroll(function() {
    $('.HolyGrail-nav').css('background-color', "#"+((1<<24)*Math.random()|0).toString(16));
  });

| This is an experiment in colors. By assigning elements colors and then rotating them in color space, you can maintain a pleasant, changing, color scheme

-5.times do
  p= 10.sentences