body nav {
  background-color: rgba(147, 128, 108, 0.1);
  /* color: black; */
}

body footer {
  background-color: rgba(147, 128, 108, 0.1);
  /* color: black; */
}


/* Default colors */
body {
  color: #222;
  background-color: #fff;
}

/* Dark theme colors */
body.dark-theme {
  color: #eee;
  background-color: #121212;
}

.dark-theme button{
  background-color: #121212;
  color: white;
}

.dark-theme a:link{
  color:  red;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    color: #eee;
    background-color: #121212;
  }

  button{
    background-color: #121212;
  }

  a:link{
    color:  red;
  }


  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    color: #222;
    background-color: #fff;
  }
}
