#main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1 0 auto; /* 2 */
}

@media (min-width: 700px) {
  #main-container {
    flex-direction: row;
  }

  main {
    flex: 1;
    padding: 0 2em;
    margin-top: 1.5em;
  }
   nav {
     min-width: 278px;
     max-width: 278px;
     width: 278px;
   }
}

@media (max-width: 700px) {
 nav {
   width: 100%
 }
}

main {
  flex: 1;
}

nav {
  order: -1;
}

img {max-width:100%;}

img#profile{
  width: 5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 35rem;
}

footer{
  text-align: right
}
