
ul {
  padding-left: 1rem;
}

li {
  padding-top: 0.5rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1 0 auto; /* 2 */
  padding-left: 1.5em;
  padding-right: 1.5em;
}

main {
  flex: 1;
}

nav {
  order: -1;
  padding: 1em;
  border-radius: 3px;
}

img {max-width:100%;}

img#profile{
  width: 5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width:35rem;
}

pre {
  width: 100%;
}

dl, dt, di {
  padding-inline-start: 1em;
}

h2{
  margin-bottom: 0.2em;
}

header {
  padding-top: 1.5em;
  padding-right: 1.5em;
}

body > header > *{
 padding: 1em;
 margin: 0em;
 border-radius: 3px;
 background: rgba(147, 128, 108, 0.1);
}
