@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  html {
    font-weight: 300;
  }
}

body {
  background-color: lightgray;
  color: black;
}

nav {
  background: rgba(147, 128, 108, 0.1);
}
