img {max-width:100%;}

p, li, ol {max-width:35rem;}

nav ul {
  -webkit-padding-start: 0px;
  list-style: none;
}

nav .site_title{
  margin-top: 0em;
}

h2{
  margin-bottom: 0.2em;
}

footer {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}

header {
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

body > footer > *, body > header > *{
 padding: 1em;
 margin: 0em;
 border-radius: 3px;
 background: rgba(147, 128, 108, 0.1);
}

footer > #footer-content{
  text-align: right;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
